BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine Off
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUESTFILENAME} !-f
RewriteCond %{REQUESTFILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

END WordPress